<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4">
    <display-name>Project</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/repos.xml
            classpath:/services.xml
        </param-value>
    </context-param>
    <!--<context-param>-->
    <!--<param-name>commonContext</param-name>-->
    <!--<param-value>commonContext</param-value>-->
    <!--</context-param>-->

    <!--<listener>-->
    <!--<listener-class>ua.onufreiv.twitter.web.infrastructure.MyServletContextListener</listener-class>-->
    <!--</listener>-->

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>WebDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/webContext.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>WebDispatcherServlet</servlet-name>
        <url-pattern>/web/*</url-pattern>
    </servlet-mapping>


    <!-- Servlet declaration -->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>ua.onufreiv.twitter.web.infrastructure.DispatcherServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/myWebContext.xml</param-value>
        </init-param>
    </servlet>

    <!-- Servlet url mapping -->
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>restDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/restContext.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>restDispatcherServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

</web-app>